.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#widget-container{
  border-radius: 8px;
  border: 1px solid grey;
  padding: 0rem 3rem 3rem 3rem;
  max-width: 30%;
  min-width: 30%;
  margin: 1rem auto;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  justify-content: middle;
}

#card-form{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-gap: 1rem;
  grid-template-areas:
  'name name'
  'number number'
  'cvv2 cvv2'
  'expmonth expyear'
  'image image'
  'submit submit';
}

@media screen and (max-width: 750px){
  #card-form{
    grid-template-areas:
    'name name'
    'number number'
    'cvv2 cvv2'
    'expmonth expmonth'
    'expyear expyear'
    'image image'
    'submit submit';
  }
}

#card-name-field{
  grid-area: name;
  text-align: center;
}

#card-number-field{
  grid-area: number;
  text-align: center;
}

#card-cvv2-field{
  grid-area: cvv2;
  text-align: center;
}

#card-exp-month-field{
  grid-area: expmonth;
  text-align: center;
}

#card-exp-year-field{
  grid-area: expyear;
  text-align: center;
}

#card-options-image{
  grid-area: image;
  width: 12rem;
  justify-self: center;
}

#card-submit-button{
  grid-area: submit;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: rgb(191, 128, 255);
  border-radius: 8px;
  padding: 1rem;
  border-color: lightgrey;
}

#card-submit-button:hover{
  transform: scale(1.05);
  color: white;
  background-color: rgb(169, 83, 255);
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}